.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.search-form {

    text-align: center;
    margin-bottom: 20px;
}

img {

display: block;
width: 300px;
height: 200px;
object-fit: cover;

}

p {

    margin-bottom: 0;
    margin-top: 3px;
}

 .info {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
     justify-content: space-between;
    text-align: center;
    vertical-align: center;
}

