.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.search-form {

    text-align: center;
    margin-bottom: 20px;
}

img {

display: block;
width: 300px;
height: 200px;
object-fit: cover;

}

p {

    margin-bottom: 0;
    margin-top: 3px;
}

 .info {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
     justify-content: space-between;
    text-align: center;
    vertical-align: center;
}

 

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
